option_settings:
  aws:elasticbeanstalk:application:environment:
    FILE_SYSTEM_ID: 'fs-2026c7f1'
    MOUNT_DIRECTORY: '/efs'
    ASSET_SRC_DIR: '/var/www/html/assets'
    ASSET_EFS_DIR: '/efs/beanstalk-efsync/var/www/html/assets'
commands:
  02_echo:
    command: 'echo env param init FILE_SYSTEM_ID=$FILE_SYSTEM_ID '
