###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file shows an example of running a cron job on all linux instances in the
#### environment.
#### 
#### In the example, the script "/usr/local/bin/efsyncscript.sh" every hr at 15, 30, 45 min
#### syncing up the configured ASSET_SRC_DIR to ASSET_EFS_DIR
####
#### The "commands" section cleans up the backup file. ".bak" files are created when
#### "/etc/cron.d/rsyncron" already exists during deployment.
####
###################################################################################################

files:
    "/etc/cron.d/rsyncron":
        mode: "000644"
        owner: root
        group: root
        content: |
            0,15,30,45 * * * * root /usr/local/bin/efsyncscript.sh

    "/usr/local/bin/efsyncscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            # Your actual script content
            ASSET_SRC_DIR=$(/opt/elasticbeanstalk/bin/get-config environment -k ASSET_SRC_DIR)
            ASSET_EFS_DIR=$(/opt/elasticbeanstalk/bin/get-config environment -k ASSET_EFS_DIR)

            if [ ! -f $ASSET_EFS_DIR ] ;  then
               mkdir -p $ASSET_EFS_DIR #Ensure dir exist; useful on fresh efs vol.
               chown webapp:webapp $ASSET_EFS_DIR
               date > $ASSET_EFS_DIR/efsync.timestamp
            fi

            if [ ! -f $ASSET_SRC_DIR/efsync.timestamp ] ;  then
                echo 'Priming assets from efs'
                rsync -zavh $ASSET_EFS_DIR/ $ASSET_SRC_DIR/
            else
                echo 'syncing assets to efs'
                rsync -zavh $ASSET_SRC_DIR/ $ASSET_EFS_DIR/
            fi
            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/rsyncron.bak"
